@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opcional: Adicionar uma fonte mais bonita */
body {
  font-family: "Inter", sans-serif;
  background-color: #0a0a0a; /* Fundo escuro para garantir */
}
